ConsoleApplication1.opensdf
ConsoleApplication1.sdf
ConsoleApplication1.v11.suo
ConsoleApplication1/libs
Release/ConsoleApplication1.exe
Release/ConsoleApplication1.pdb
Debug/ConsoleApplication1.exe
Debug/ConsoleApplication1.pdb
ConsoleApplication1/Release
ConsoleApplication1/Debug
